* {
    box-sizing: border-box;
    background-color: #8B7A85;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 10%;
}
.logo {
    cursor: pointer;
}
.nav-links{
    list-style: none
    padding: 0;
    margin: 0;
}
.nav-links>li{
    display: inline-block;
    padding: 0 1.5em;
}
.nav-links>li>a{
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
}
.nav-links>li>a:hover{
    color: black;
}
button {
    padding: .5em 2em;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}